



/* Named colors from: https://github.com/jason-roberts/NamedColors */
$nc-Black: #000000;  
$nc-HotPink: #FF69B4;  
$nc-Red: #FF0000;  
$nc-White: #FFFFFF;  
$nc-MetroUILightGreen: #99b433;  
$nc-MetroUIGreen: #00a300;  
$nc-MetroUIDarkGreen: #1e7145;  
$nc-MetroUIMagenta: #ff0097;  
$nc-MetroUIVividPurple: #9f00a7;  
$nc-MetroUIPurple: #7e3878;  
$nc-MetroUIPalePurple: #603cba;  
$nc-MetroUIAlmostBlack: #1d1d1d;  
$nc-MetroUITeal: #00aba9;  
$nc-MetroUIPaleBlue: #eff4ff;  
$nc-MetroUIBlue: #2d89ef;  
$nc-MetroUIDarkBlue: #2b5797;  
$nc-MetroUIYellow: #ffc40d;  
$nc-MetroUILightOrange: #e3a21a;  
$nc-MetroUIDarkOrange: #da532c;  
$nc-MetroUIBrightRed: #ee1111;  
$nc-MetroUIDarkRed: #b91d47;  
$nc-MetroUIWhite: #ffffff;  

